{%block title%}Currency Exchange{%endblock%}
{%block content%}

<h1>{{error}}</h1>

<h1>Currency Exchange</h1>
    <form action="/convert" method="POST">
        <label for="in">Current Currency:
            <input type="text" name = "in"  id = "in">
        </label>
        <label for="out"> New Currency:
            <input type="text" name = "out" id = "out">
        </label>
        <label for="amount">Amount:
            <input type="text" name = "amount" id = "amount">
        </label>
        <button>Convert</button>
    </form>
    
{%endblock%}